body {
    font-family: Arial;
    background: #f2f2f2;
    padding: 30px;
}

h1, h2 {
    color: #333;
}

input, button {
    padding: 10px;
    margin: 5px;
}

a {
    padding: 10px;
    background: black;
    color: white;
    text-decoration: none;
}
